/*
    commont style
 */

 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

  /*
   Header section style 
  */
  .carousel-item img {
    width: 100%;
    height: 80vh;
  }

  .heading-one {
    font-size: 38px;
  }

  button > svg {
    width: 30px;
  }

  .card-button {
    background-color: #fbd6ed;
  }

  .clint-section {
    margin: 100px 0;
  }

  footer {
    background: #0B0D17;
    padding: 70px 0;
  }

  .foot-title {
    font-size: 15px;
  }
  .icon-title {
    font-size: 20px;
  }
  .second-a {
    margin-top: -5px;
  }
  span > a > .img-one {
    width: 130px;
    height: 40px;
  }
  span > a > .img-two {
    width: 165px;
    height: 72px;
  }