/*
    commont style
 */

 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

  /*
   Header section style 
  */
  .carousel-item img {
    width: 100%;
    height: 80vh;
  }

  .top-heading {
    font-size: 40px;
  }